<ion-view>
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-tabs class="tabs-top tabs-icon-top tabs-color-assertive tabs-color-active-assertive">
    <ion-tab title="Log In" icon-off="ion-locked" icon-on="ion-locked" href="#/home/login">
      <ion-nav-view name="home-login"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Sign Up" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/home/signup">
      <ion-nav-view name="home-signup"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
